/* author : 
  date :
  license:
*/
/* Reset */
@import 'reset.css';

/* Typography */
body { font-family: sans-serif; }
h3 { font-size: 26px; line-height: 20px; margin: 1em;}

/* Layout */
.page 
{
  width: 80%; margin: 1em auto; 
}
.box 
{
  width: 30%;
  float:left;
  overflow:hidden;
  
}
/* Navigation */
nav { overflow:hidden; }
nav li { float:left; display: inline-block; min-width: 120px; }
/* UI-elements */
a { text-decoration: none; }
section { margin: 1em; padding: .3em 0;  overflow:hidden;     }
ul li { margin: .4em; list-style:none;}
/* Forms */

/* Media Queries */ 
