/* author : 
  date :
  license:
*/
/* Reset */
@import 'reset.css';

/* Typography */
body { font-family: sans-serif; }
h3 { font-size: 26px; line-height: 20px; margin: .3em;}

/* Layout */
.page 
{
  width: 80%; margin: 0em auto; overflow:hidden;
     display: block;
     clear: both;
}
.col {
 
  display: block;
  float: left;
  overflow:hidden;
  margin: 0;
  padding-top: .5em;
  min-width: 60%;
  
  
  
}
.secondary {
  width: 20%;
  border-right: 1px solid rgba(0,50,150,0);
  display: block;
  overflow:hidden;
  height: 100%;
  padding-top: 3em;  min-width: 20%; max-width: 20%;
  
}
.box 
{
  overflow:hidden;
  margin: 3px;
  
}
/* Navigation */
nav { overflow:hidden; }
nav li { float:left; display: inline-block; min-width: 120px; }
/* UI-elements */
a { text-decoration: none; }
section { margin: .5em; padding: .3em 0;  overflow:hidden;     }
ul li { margin: .4em; list-style:none;}
/* Forms */

/* Media Queries */ 
