/* author : 
  date :
  license:
*/
/* Reset */
@import 'reset.css';

/* Typography */
body { font-family: sans-serif; }
h3 { font-size: 26px; line-height: 20px; margin: .3em;}
h4 { font-size: 20px; border-bottom: 1px solid rgba(0,50,100,1);margin: .2em 0 ;   }
/* Layout */
.page 
{
  width: 80%; margin: 0em auto; overflow:hidden;
     display: block;
     clear: both;
}
article { width: 80%; max-width: 750px; margin: 0 auto; font-size: 1.1em;
}
h1 a:link { font-size: 1.5em  ; }
.col {
 
  display: block;
  float: left;
  overflow:hidden;
  margin: 0;
  padding-top: .5em;
  min-width: 60%;
  
  
  
}
.secondary {
  width: 20%;
  border-right: 1px solid rgba(0,50,150,0);
  display: block;
  overflow:hidden;
  height: 100%;
  padding-top: 3em;  min-width: 20%; max-width: 20%;
  
}
.box 
{
  overflow:hidden;
  margin: 3px;
  
}
/* Navigation */
nav { overflow:hidden; }
nav li { float:left; display: inline-block; min-width: 120px; }
/* UI-elements */
a { text-decoration: none; }

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


section { margin: .5em; padding: .3em 0;  overflow:hidden;     }
ul li { margin: .4em; list-style:none;}

section blockquote p { margin: .4em; padding: .4em;  font-size: 1.1em; }
section blockquote { background: rgba(255,255,0,.13) ; }
/* Forms */

/* Media Queries */ 
